body {
    font: 11pt Arial, Helvetica, sans-serif;
    margin: 0;
}
#header {
    background: #2ca8c6;
    padding: 10px;
}
#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #106277;
    color: #fff;
    width: 100%;
}
h1 {
    font-size: 2.6vw;
    margin: 0;
    color: rgb(255, 255, 255);
}
.brand, .logout {
    font-size: 2.6vw;
    margin: 0;
    color: rgb(255, 255, 255);
    float: left;
    width: 50%;
}
.logout{
    text-align: right;
}
.logout-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}

h2 {
    font-size: 2.2vw;
    margin: 10px;
    color: #656363;
}

#container {
    width: auto;
    height: 85vh;
    padding-top: 2vh;
    padding-left: 2vh;

}
#sidebar {
    float: left;
    width: 20%;
    margin: 10px 10px 20px 5px;
    padding: 5px;
    height: 75vh;
}
#content {
    margin: 10px 25px 20px 23%;
    border: 1px solid rgb(167, 167, 167);
    padding: 5px;
    height: 75vh;
    overflow-y: auto;
}
.button-sidebar{
    padding: 13px 30px;
    margin: 5px 0 2px 5px;
    font-size: 1.1vw;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    cursor: pointer;
    width: 90%;
    font-weight: bold;
}
.submit-main-admin{
    padding: 13px 30px;
    margin: 5px 0 2px 5px;
    font-size: 1.1vw;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 90%;
    font-weight: bold;
    background-color: #656363;
    text-decoration:none;
}

.submit2{
    padding: 13px 30px;
    margin: 5px 0 2px 5px;
    font-size: 1.1vw;
    text-align: left;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    cursor: pointer;
    width: 250px;
}
.add-new-button{
    position: absolute;
    right: 50px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color:#eeb35a;
    color: #fff;
    border: none;
    cursor: pointer;
}
.add-button{
    background-color:#eeb35a;
    color: #fff;
    padding: 13px 30px;
    font-size: 1.1vw;
    text-align: left;
    border: none;
    cursor: pointer;
}

.import-words-button{
    background-color:#eeb35a;
    color: #fff;
    padding: 13px 30px;
    font-size: 1.1vw;
    text-align: left;
    border: none;
    cursor: pointer;
    margin: 0px;
}

.rename-input{
    font-size: 15px;
}

.back-button{
    margin-left: 20px;
}
.dictionary-button{
    padding: 13px 30px;
    margin: 5px 0 2px 5px;
    font-size: 1.1vw;
    text-align: left;
    color: #fff;
    background-color: #3e98d4;
    border: none;
    cursor: pointer;
    width: 250px;
    font-weight: bold;
}
.section-button{
    padding: 13px 30px;
    margin: 5px 0 2px 5px;
    font-size: 1.1vw;
    text-align: left;
    color: #fff;
    background-color: #3dca60;
    border: none;
    cursor: pointer;
    width: 250px;
    font-weight: bold;
}

.clear-left{
    clear: left;
}

.delete-all-words-button{
    position: absolute;
    margin-top: 85px;
    right: 50px;
    padding: 10px;
    width: 100px;
    background-color:#fb615a;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    border: none;
}
.add-list-button{
    position: absolute;
    margin-top: 50px;
    right: 50px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color:#54c152;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.submit-reverse{
    background-color:#eeb35a;
    color: #fff;
    padding: 13px 30px;
    font-size: 1.1vw;
    text-align: left;
    border: none;
    cursor: pointer;
}
.repeat-button {
    padding: 5px 10px;
    margin-left: 30px;
    font-size: 1.1vw;
    text-align: center;
    color: #fff;
    background-color: #3dca60;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.repeat-button {
    padding: 5px 10px;
    margin: 0px;
    font-size: 1.1vw;
    text-align: center;
    color: #fff;
    background-color: #3dca60;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.submit12{
    background-color:#eeb35a;
    color: #fff;
    padding: 13px 30px;
    font-size: 1.1vw;
    text-align: left;
    border: none;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}
#sidebar-top{
    height: 35vh;
}
#sidebar-top-words{
    height: 25vh;
}

.reverse-description{
    font-size: 15px;
    font-family: monospace;
}

#content-auth{
    margin: 50px 30% 50px 30%;
    padding: 20px;
    border: 1px solid #d1d1e0;
    height: auto;
}
#content-reg{
    overflow-y: auto;
}
#form {
    float: left;
    width: 20%;
    padding: 5px;
    margin: 10px 10px 20px 5px;
    line-height:30px;
}
#content-auth-inner{
    width: 450px;
    margin: 50px auto 0 auto;
    text-align: center;
}
.input-auth[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid #d1d1e0;
}

.auth-error-message{
    color: crimson;
    margin-top: 0px;
}

.log-submit{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.log-submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.cancel-link{
    color: rgb(68, 68, 68);
}

.cancel-link-words{
    color: rgb(68, 68, 68);
    margin-left: 20px;
}

#reg:hover{
    text-decoration: none;
}
.login{
    font-size: 36px;
    color: #2ca8c6;
}
#content-header{
    font-size: 20px;
}
.delete-button{
    color: rgb(255, 0, 0);
    border: none;
    background-color: transparent;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.clear-button{
    color: orange;
    border: none;
    background-color: transparent;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.clear{
    color: rgb(255, 136, 0);
    padding-left: 10px;
}
.rename-link{
    color: rgb(7, 129, 7);
    padding-left: 10px;
}
.words-count{
    color: #414141;
    padding-left: 10px;
    font-size: 20px;
}
.add{
    position: absolute;
    right: 50px;
    margin-top: 50px;
    border: 1px solid rgb(167, 167, 167);
    padding: 20px;
    line-height:40px;
    background-color: white;
    z-index: 2;
}
#words-table {
    font-family: sans-serif;
    font-size: 25px;
    border-collapse: collapse;
    text-align: left;
    margin-left: 10px;
}
#words-table th {
    background: #2ca8c6;
    color: white;
    padding: 10px 20px;
}
#words-table th, #words-table td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
}
#words-table td {
    background: #d8e6f3;
    padding: 10px 20px;
    width: 25vw;
}
#words-table td:first-child, #words-table th:first-child {
    text-align: left;
}
#words-table td:last-child {
    background: #fff;
    font-size: 15px;
}
.import{
    margin-top: 0px;
    background: white;
    padding: 20px;
    line-height: 0px;
    padding-bottom: 5px;
}

.import-input{
    width: 400px;
    height: 300px;
    resize: none;
    font-size: 20px;
}

.import_csv{
    margin: 30px;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 300px;
    float: left;
}
.import_req{
    margin: 30px;
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
    float: left;
}
.select select{
    border: 0;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: #406ec4;
}
.words-count{
    color: #414141;
    padding: 5px 0px 5px 10px;
    margin-left: 5px;
    font-size: 20px;
    width: 120px;
    display: inline-block;
}
.align{
    display: inline-block;
}
.word1{
    background: #d8e6f3;
    margin: 20px 10px 20px 10px;
    width: 370px;
    height: 42vh;
    word-break: keep-all;
    text-align: center;
    font-size: 30px;
    float: left;
}
.word2{
    background: #d8e6f3;
    margin: 20px 10px 20px 10px;
    width: 370px;
    height: 42vh;
    word-break: keep-all;
    text-align: center;
    font-size: 30px;
    float: left;
}
.buttons{
    width: 600px;
    margin: 10px;
}
#btnShow{
    background-color:#eeb35a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1vw;
    cursor: pointer;
}
#btnRight{
    background-color: #3dca60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1vw;
    /*cursor: pointer;*/
    margin-left: 20px;
}
#btnWrong{
    background-color:#fb615a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1vw;
    /*cursor: pointer;*/
    margin-left: 20px;
}

.change_dict{
    padding: 20px;
    border: 1px solid rgb(70, 70, 70);
    margin: 20px 10px 20px 10px;
    width: 400px;
    height: 40vh;
    word-break: keep-all;
    font-size: 30px;
    float: left;

}
.change_sect{
    padding: 20px;
    border: 1px solid rgb(70, 70, 70);
    margin: 20px 10px 20px 10px;
    width: 400px;
    height: 40vh;
    word-break: keep-all;
    font-size: 30px;
    float: left;
}
.indent{
    margin: 10px;
}

.content-right-column{
    float: left;
    padding-left: 50px;
}

.content-left-column{
    float: left;
}

.repeating-results-dashboard{
    font-size: 30px;
    font-weight: bold;
    color: rgb(46 52 56);
}
.dashboard-data{
    font-size: 30px;
    font-weight: bold;
    color: rgb(28 144 199);
}
.info{
    margin: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: #f55959;
    font-weight: bold;
}

::-webkit-input-placeholder.import-input {font-size: 15px;}
::-moz-placeholder.import-input          {font-size: 15px;}
:-moz-placeholder.import-input             {font-size: 15px;}
:-ms-input-placeholder.import-input        {font-size: 15px;}